# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# =========================
# Environment variables
# =========================
.env

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Telegram sessions (MUHIM)
# =========================
storage/sessions/
storage/tdata/
*.session

# =========================
# Database
# =========================
*.sqlite3
*.db

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Docker
# =========================
docker-data/
